.active {
    color: #1890ff !important;
    text-decoration: underline;
  }

  .ant-layout-content {
    flex: auto;
    min-height: 100vh;
}

/* .ProseMirror:nth-child(1){
  display: none;
} */
.ProseMirror{
  padding: 15px 25px;
  min-height: 700px;
  overflow: scroll;
}
.ant-upload-list-item-card-actions {
  display: none;
}

.ProseMirror::-webkit-scrollbar {
  display: none;
}
.ProseMirror {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.homeContainer{
  background-color: #4b4b4b;
  background-image: linear-gradient(345.37deg, #000000 14.38%, #262626 67.97%);
  box-shadow: 12px 11px 60px rgba(0, 0, 0, 0.5);
  overflow: hidden;
color: white;
  height: 80vh;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.content h1{
  color: white;
  font-size: 2.5rem;
}

.logo-background {
  background-image: url("/images/logo-dg.svg");
  background-repeat: no-repeat;
  background-size: 145%;
  height: 100%;
}